 {% include 'modules/sidebar.html' %}

<div id="content" class="site-content">
    <div id="blog-wrapper">
        <div class="blog-holder center-relative" style="padding-top:1em;padding-bottom:0em">


            <article class="blog-item-holder featured-post">
                <div class="entry-content relative">
                    <div class="content-1170 center-relative">

                        <h2 class="entry-title main-intro">
                                        Hi, I'm Ethan 🖐🏻
                                    </h2>
                        <div class="excerpt home-content">
                            <p>
                                I'm currently the head of Product and Tech at <a href="https://virtuetheory.com">Virtue Theory</a>, where I lead user research to build apps that solve <a href="https://meports.com">real problems</a>.
                                Previously, I was a Product Manager at <a href="http://capitalone.com">Capital One</a> and before that, a Systems Engineer at <a href="http://bah.com">Booz Allen Hamilton</a>. I love to read <a href="https://github.com/esteininger/personal/blob/master/reading-list.md">books</a>,
                                listen to <a href="https://github.com/esteininger/personal/blob/master/podcasts.md">podcasts</a>, and <a href="https://www.instagram.com/ethanbfeastin/">travel</a>.
                                I'm also co-organizing an <a href="http://hackital.io">Ethereum Hackathon</a> in DC, where I currently live! Don't hesitate to <a href="mailto:esteininger21@gmail.com">reach out!</a>😄
                            </p>
                        </div>
                        <div class="row skills-list-section">
                            <div class="col-md-6">
                                <h3 class="list-title">Product</h3>
                                <ul class="ethos-list">
                                    <li>
                                        User Interviewing
                                    </li>
                                    <li>
                                        Product Roadmapping
                                    </li>
                                    <li>
                                        Rapid Prototyping
                                    </li>
                                    <li>
                                        A/B Testing
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                              <h3 class="list-title">Tech</h3>
                              <ul class="ethos-list">
                                  <li>
                                      Python, Flask, Django
                                  </li>
                                  <li>
                                      Javascript, JQuery, React, AJAX
                                  </li>
                                  <li>
                                      EC2, Lambda, Ubuntu, Apache
                                  </li>
                                  <li>
                                      MySQL, MongoDB, Neo4j
                                  </li>
                              </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </article>


        </div>
    </div>

    <div class="featured-image-holder">
        <div class="featured-post-image" style="background-image: url('../static/images/me.jpg')"></div>

    </div>
    <div class="clear"></div>
</div>

{% include 'modules/foot.html' %}
